body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
.container{width:993;
      height:1500;
      
	  margin:0 auto;}
a{text-decoration:none;
  color:black}
.title{width:100%;
        height:5%;
		}
.logo_left{
	       float:left;
	       margin-top:20px;
			
			 }
.logo_right{
	         float:left;
			 margin-top:5px;
	          margin-left:400px;
	}
.search{
        float:right;
		width:250px;
		height:30px;
		
		margin-top:20px}
.submit{float:right;
        width:80;
		height:30px;
		margin-top:20px;
		}
.nav{width:98.2%;
     height:2%;
	 background:#363636;
	 color:white;
	 font-size:20px;
	 word-spacing:20px;
	 padding:15px}
p{ float:left;
   text-align:align;
   padding:10px;
   word-spacing:10px;
   font-size:13px;}
.banner{
	    float:left;
    width:998;
	   height:435px;   
		}
.banner img{float:left;}
.left_bottom{margin-top:-260px;}
.center_bottom{margin-top:-175px;
               margin-left:205px}
.center_bottoms{margin-top:-175px;
               margin-left:410px;}
.right_bottom{margin-top:-175px;
               margin-left:573p;}
.service{
	float:left;
	width:98.2%;
     height:2%;
	 background:black;
	 color:white;
	 word-spacing:20;
	 padding:10px;}
.download{float:left;
         
	       width:100%;
           height:25%;
		   border:1px solid gray}
h3{color:red;
   margin:10px;}
.download ul{ list-style:none;
   display:inline-block;
   margin-left:50px;
   margin-top:30px;
   }
.download ul li ul{
	line-height:25px;
      margin-left:10px;
	  margin-top:20px;
	  font-size:13px;}
.hot{float:left;
      margin-top:10px;
     width:70%;
     height:55%;
	 }

.hot_a{width:100%;
       height:20%;
	   clear:both;
        border:1px solid gray;}

.hot img{float:left;
         margin:10px;}
.hot_submit{float:right;
           margin:20px;}
.recommend { float:left;
            margin-left:15px;
			 margin-top:56;
	        width:28.1%;
            height:28%;
			border:1px solid gray;
			text-align:center}
.news{     float:right;
            margin-top:10px;
			 width:28%;
            height:26.6%; 
	       border:1px solid gray;
			}
.news ul{ list-style:none;
         line-height:30px;
        }
.partner{width:100%;
         height:22%;
		  border:1px solid gray;
		 float:left;
		 margin-top:10px;}
.partner img{margin:5;}
h5{clear:both;
   font-size:10;
   line-height:30px;
   text-align:center;}
		






